<connectionStrings>
  <clear/>
  <add name="Anntgc00492ShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ANNTGC00492\SQLEXPRESS;Initial Catalog=Anntgc00492ShopCatalog2;Integrated Security=true;User Id=sa;Password=gc00492;MultipleActiveResultSets=True"/>
</connectionStrings>
