
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>

    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
<div ng-controller="SchoolController">
    <div ng-controller="TeacherController">
        {{thongDiep}}
    </div>
    <div ng-controller="StudentController">
        {{thongDiep}}
    </div>  
    {{thongDiep}}
</div>

<div ng-controller="TrinhKiemTra">
    <input ng-model="giatrinhapvao"/>{{giatrinhapvao}}
    <hr/>
    <button ng-click="clicButtonEvent()">Kiem Tra So Nhap Vao</button>
    <h1>Result{{ketquakiemtra}}</h1>
</div>
</body>
</html>
